alembic==1.7.1
aniso8601==9.0.1
attrs==21.2.0
bcrypt==3.2.0
Bcrypt-Flask==1.0.2
blinker==1.4
cffi==1.14.6
click==8.0.1
cryptography==3.4.8
Flask==2.0.1
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
Flask-Migrate==2.6.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
jwt==1.2.0
Mako==1.1.5
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
protobuf==3.17.3
pycparser==2.20
pyrsistent==0.18.0
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.22
Werkzeug==2.0.1
zipp==3.5.0
